header{
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 0 20px;
    .headerSection{
        align-content: center;
        text-align: center;
        a{
            color: white;
            text-decoration: none;
        }
    }
}