footer{
    height: 10vh;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: space-around;
    a{
        text-decoration: none;
        color: white;
        &:hover {
            cursor: pointer;
        }
    }
}