footer{
    height: 5vh;
    text-align: center;
    align-items: center;
    border: 1px solid red;
    display: flex;
    justify-content: space-around;
    a{
        text-decoration: none;
        color: black;
        &:hover {
            cursor: pointer;
        }
    }
}